body {
    background: #303030; /* background: #303030 url(data:image/svg+xml;base64,PD94bW=); */
    background-size: 128px auto;
}

/* Make the Global Freeleech bar more compact */
.special-event-alert {
    padding: 5px;
}
.special-event-alert > .alert__content {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 512px) {
    .special-event-alert > .alert__content {
        width: 98%;
    }
}

/* Chatbox-related changes */
/* Remove extra line breaks in chat messages */
.chatbox-message__content > div > br:nth-of-type(n+2) {
    display: none;
}
/* More compact chat bubbles */
.chatbox-message__content {
    font-size: 14px;
    padding: 0px 8px 4px 8px;
}
.chatbox-message__address {
    font-size: 12px;
}
.chatroom__messages {
    gap: 6px;
}

@supports selector(:has(.blank)) {
    /* panelV2 adjustment */
    .panelV2 {
        max-width: calc(100vw - 80px);
    }
    .user-torrents__agent, .user-active__agent {
        font-size: 10px !important;
        word-wrap: break-word !important;
        max-width: 68px !important;
        color: #ccc;
    }

    /* Search filter margin adjustments */    
    .torrent-search__filters {
        margin: 0 max(12px, 45vw - 800px);
    }
    .torrent-search__filters:has(+.torrent-search__results .torrent-search--grouped__results) {
        margin: 0 calc(-1 * max(0px, 45vw - 800px) + max(12px, 45vw - 700px))
    }

    /* Search Filters */
    .form__fieldset-checkbox-container {
        height: 224px;
    }

    /* Hide unnecessary checkboxes: Type */
    .form__fieldset:has(input[wire\:model\.live="typeIds"])
        .form__fieldset-checkbox-container p:has(
            /* input[value="1"],   /* Full Disc */
            /* input[value="2"],   /* Remux */
            /* input[value="3"],   /* Encode */
            /* input[value="4"],   /* WEB-DL */
            /* input[value="5"],   /* WEBRip */
            /* input[value="6"],   /* HDTV */
            /* input[value="7"],   /* Other */
            /* input[value="10"],  /* Movie Pack */
            input[value="20"],  /* Music - General */
            input[value="29"],  /* Blues */
            input[value="30"],  /* Classical */
            input[value="31"],  /* Electronic */
            input[value="32"],  /* Hip-Hop / Rap */
            input[value="33"],  /* Jazz &amp; Funk */
            input[value="34"],  /* Latin */
            input[value="35"],  /* Pop */
            input[value="36"],  /* Rock */
            input[value="16"]   /* Test */
        ) {
        display: none;
    }

    /* Hide unnecessary checkboxes: Primary Language */
    .form__fieldset:has(input[wire\:model\.live="primaryLanguageNames"]) /* Hide all rows */
      .form__fieldset-checkbox-container p {
      display: none;
    }
    .form__fieldset:has(input[wire\:model\.live="primaryLanguageNames"]) /* Show only the specified row(s) */
      .form__fieldset-checkbox-container p:has(input[value="en"]) {
      display: block;
    }
}
