body {
    background: #303030; /* background: #303030 url(data:image/svg+xml;base64,PD94bW=); */
    background-size: 128px auto;
}

/* Remove the 12px gap intended for the scrollbar */
::-webkit-scrollbar:vertical {
    width: 0px;
}

/* Make the Global Freeleech bar more compact */
.special-event-alert {
    padding: 5px;
}
.special-event-alert > .alert__content {
    width: 75%;
    display: flex;
    justify-content: center;
    gap: max(20px, min(4vw, 980px));
}
@media screen and (max-width: 512px) {
    .special-event-alert > .alert__content {
        width: 98%;
    }
}

/* Chatbox-related changes */
/* Remove extra line breaks in chat messages */
.chatbox-message__content > div > br:nth-of-type(n+2) {
    display: none;
}
/* More compact chat bubbles */
.chatbox-message__content {
    font-size: 14px;
    padding: 0px 8px 4px 8px;
}
.chatbox-message__address {
    font-size: 12px;
}
.chatroom__messages {
    gap: 6px;
}

/* Bonus Point-Page Adjustments: margin, direction, etc. */
main.page__user-earning--index .sidebar2 {
    flex-direction: column-reverse;
}
.sidebar2 > aside {
    gap: 0px;
}
@media (min-width: 832px) {
    main.page__user-earning--index > article > aside > section:nth-of-type(1) .panel__heading {
        display: flex;
        justify-content: center;
    }
    main.page__user-earning--index > article > aside > section:first-of-type > div {
        padding: 6px 12px;
        display: flex;
        justify-content: center;
    }
    main.page__user-earning--index > article > aside > section:last-of-type > :first-child {
        display: none;
    }
    main.page__user-earning--index {
        margin: 0 max(0px, 10vw - 64px, 25vw - 512px, 45vw - 944px)
    }
    main.page__user-earning--index .sidebar2 > aside {
        max-width: max-content;
        margin-left: calc(100% - 300px);
    }
    main.page__user-earning--index > article > aside > section:last-of-type > :last-child {
        width: 300px;
        min-width: 100%;
    }
    main.page__user-earning--index .sidebar2 > div {
        max-width: 100%;
    }
    main.page__user-earning--index > article > div > section:nth-of-type(1) {
        margin-top: -252px;
        margin-right: 320px;
    }
}

/* Search filter margin adjustments */    
.torrent-search__filters {
    margin: 0 max(12px, 45vw - 800px);
}

/* Search Filter Type box-height */
.form__fieldset-checkbox-container {
    height: 224px;
}

/* Reduce client name font-size in tables */
.user-torrents__agent, .user-active__agent {
    font-size: 10px !important;
    word-wrap: break-word !important;
    max-width: 68px !important;
    color: #ccc;
}

@supports selector(:has(*)) {
    /* panelV2 adjustment */
    main.page__torrent--index .panelV2,
    main.page__user-torrents--index .panelV2,
    main.page__user-peers--index .panelV2 {
        max-width: 98vw;
        margin: 0 max(12px, 45vw - 800px);
    }

    /* panelV2 adjustments - when Grouping-layout is used */
    main.page__torrent--index:has(.panelV2 .torrent-search--grouped__results) {
        margin: 0;
    }

    /* Reduced padding of grouped items */
    main.page__torrent--index .torrent-search__results > .torrent-search--grouped__results {
        padding: 0px 5px;
    }

    /* Transparent item-heading on pinned items */
    article.torrent-search--grouped__result:has(i[title="Sticky"]) 
      > header.torrent-search--grouped__header {
        background-color: oklab(0.3 -0.01 -0.02);
    }

    /* Blue tint on pinned items */
    article.torrent-search--grouped__result:has(i[title="Sticky"]) {
        background-color: oklab(0.14 -0.02 -0.03 / 0.5);
    }

    /* Adjust search filter margin to match the width of results panel */
    .torrent-search__filters:has(+.torrent-search__results .torrent-search--grouped__results) {
        margin: 0 max(12px, 45vw - 800px);
    }

    /* Hide unnecessary checkboxes: Type */
    .form__fieldset:has(input[wire\:model\.live="typeIds"])
        .form__fieldset-checkbox-container p:has(
            /* input[value="1"],   /* Full Disc */
            /* input[value="2"],   /* Remux */
            /* input[value="3"],   /* Encode */
            /* input[value="4"],   /* WEB-DL */
            /* input[value="5"],   /* WEBRip */
            /* input[value="6"],   /* HDTV */
            /* input[value="7"],   /* Other */
            /* input[value="10"],  /* Movie Pack */
            input[value="20"],  /* Music - General */
            input[value="29"],  /* Blues */
            input[value="30"],  /* Classical */
            input[value="31"],  /* Electronic */
            input[value="32"],  /* Hip-Hop / Rap */
            input[value="33"],  /* Jazz &amp; Funk */
            input[value="34"],  /* Latin */
            input[value="35"],  /* Pop */
            input[value="36"],  /* Rock */
            input[value="16"]   /* Test */
        ) {
        display: none;
    }

    /* Hide unnecessary checkboxes: Primary Language */
    .form__fieldset:has(input[wire\:model\.live="primaryLanguageNames"]) /* Hide all rows */
      .form__fieldset-checkbox-container p {
      display: none;
    }
    .form__fieldset:has(input[wire\:model\.live="primaryLanguageNames"]) /* Show only the specified row(s) */
      .form__fieldset-checkbox-container p:has(input[value="en"]) {
      display: block;
    }

    /* Similar Torrent Index Pages */
    /* Remove margin on search filter to match the width of results panel */
    main.page__torrent-similar--index .similar-torrents__filters {
        margin: 0;
    }
}
